    {% if site.footer_fixed %}
    <footer class="fixed-bottom">
      <div class="container mt-0">
        {{ site.footer_text }}
        {%- if site.impressum_path -%}
        <a href="{{ site.url }}{{ site.baseurl }}{{ site.impressum_path }}">Impressum</a>.
        {%- endif -%}
        {%- if site.last_updated -%}
        Last updated: {{ "now" | date: '%B %d, %Y' }}.
        {%- endif %}
        {%- if site.goatcounter.site_id and site.goatcounter.site_id != "" -%}
        <div class="visitor-count-container">
          <span class="goatcounter-visitors">Loading visitors...</span>
        </div>
        {%- endif -%}
      </div>
    </footer>
    {%- else -%}
    <footer class="sticky-bottom mt-5">
      <div class="container">
        {{ site.footer_text }}
        {%- if site.impressum_path -%}
        <a href="{{ site.url }}{{ site.baseurl }}{{ site.impressum_path }}">Impressum</a>.
        {%- endif -%}
        {%- if site.last_updated -%}
        Last updated: {{ "now" | date: '%B %d, %Y' }}.
        {%- endif %}
        {%- if site.goatcounter.site_id and site.goatcounter.site_id != "" -%}
        <div class="visitor-count-container">
          <span class="goatcounter-visitors">Loading visitors...</span>
        </div>
        {%- endif -%}
      </div>
    </footer>
    {%- endif %}